.searchbox {
  border: none;
  border-radius: 2px;
  background-color: #fafafa;
  padding: 5px 10px;
  height: 50%;
  width: 396px;
  font-size: 19px;
  margin-right: 100px;
  margin-top: 19px;
  
}

input[type="search"]:focus {
  outline: none;
}

:host {
  min-width: 30%;
}

.list{
 
  position: absolute;
  color: black;
 width: 100%;

}
