<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<br>
<mat-toolbar style="background-color: #ff4081" color="primary" class="docs-navbar-header mat-elevation-z2">
  <mat-toolbar-row>
    <h1 style="font-size: 30px;">

      Cart Items
    </h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar style="background-color: white;" color="primary" class="docs-navbar-header mat-elevation-z2">
  <mat-toolbar-row>
    <div style="color: black; font-size: 25px;">
      Shopping Cart is empty

    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-button style="background-color: #3f51b5; color: white;" routerLink="/">
      Continue Shopping
    </button>
  </mat-toolbar-row>
</mat-toolbar>